
body{font-family:Arial;background:#0f2027;color:white;padding:20px}
textarea{width:100%;height:120px;margin-bottom:10px}
button{padding:10px;background:#00c9a7;border:none;font-weight:bold}
.card{margin-top:15px;padding:15px;background:rgba(255,255,255,0.1)}
